/* ================== 2. Variables ================== */
:root {
  /*-------------------Colours ------------------------ */
  --primary: #0b3072;
  --primary-dark: #092a63;
  --accent: #029fd4;
  --text: #333;
  --bg-light: #f8fbff;
  --white: #fff;
  --black: #000;

  /*--------------------Font Sizes --------------------*/
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.2rem;
  --text-xl: 1.5rem;

  /* -------------------Font Weights ------------------ */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* --------------- Border Radius ------------------- */
  --radius: 1rem;
  --radius-sm: 8px;

  /* ---------------- Shadows ------------------------- */
  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.05);
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);

  /* ----------------------- Spaces ----------------- */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xlg: 4rem;

  --drawer-width: 280px;
}
